html {
   /* Needed to fix footer at bottom of browser */
   position: relative;
   min-height: 100%;
}

body {
    position: relative;
    font-family: verdana, arial, sans-serif;
    padding-top: 5px;
    margin-bottom: 50px;
    background-image:url(media/tartan2.png);
}

.eduthumbnail
{
    text-align: center;
}

footer {
   position: fixed;
   bottom: 0;
   height: 50px;
   width: 100%;
   width: 100%;
   text-align: left;
   padding: 10px;
}

h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    text-indent: 2em;
    color: black;
}

.jumbotron{
    margin-top: 70px;
    margin-bottom: 10px;
    text-align:center;
    padding: 5px;
    color: black;
    background-color:#43F3E6;
    box-shadow: 1px 1px 2px 2px #000000; 
}

.jobsthumbnail
{
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.navbar{
    background-color: aqua;
}

.navbar-inverse .navbar-brand{
    color: #000000;
}

.navbar-inverse .navbar-nav li a
{
    color: #000000;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover 
{
    color: yellow;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
    color: yellow;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    color: yellow;
    background-color: forestgreen;
}

footer {
    background-color: aqua;
    color: black;  
}

.panel
{
    border-radius: 30px;
}
.panel-heading {
    text-align: center;
}

.panel-heading, .panel-body,  {
    box-shadow: 1px 1px 2px 1px #000000;
}

.thumbnail{
       box-shadow: 1px 1px 2px 1px #000000;
       margin-top: 2px;
    border-radius: 10px;
}
.panel-title
{
    border-radius: 10px;
    background-color: #43F3E6;
    color: black;
    padding: 10px;
    text-align: center; 
    box-shadow: 1px 1px 1px 2px #000000;
    margin-bottom: 4px;
}

.page-header{
    border-bottom: 1px solid #43F3E6;
}

#main {
    background: #848C8F;
}

#background{
    background-color: #43F3E6;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 2px;
    color: black; 
    border-radius: 30px;
}

#csharp, #webdevproj
{
    background-color: #43F3E6;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #000000;
    color: black;
}

/*ID Assigned to align the HTC image under education*/
#htc
{
    width: 300px;
    height: 40px;
}

#jumbotext
{
    font-size: 16px;
}
/*#webdevproj
{
    background-color: #43F3E6;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 2px 2px;
    color: black;
}*/









