html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

main {
    position: relative;
    font-family: verdana, arial, sans-serif;
    padding-top: 5px;
    margin-bottom: 50px;
    background-image: linear-gradient(black, lightblue, black);
}

.eduthumbnail {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.caption {
    background-color: lightyellow;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

p {
    color: black;
}

h4,
li {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

h4{
    border-radius: 10px;
}

footer {
    background-image: linear-gradient(lightblue, white, lightblue);
    color: black;
}

.jumbotron {
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    color: black;
    background-color: lightblue;
    box-shadow: 1px 1px 2px 2px #000000;
}

.jobsthumbnail {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.navbar {
    background-image: linear-gradient(lightblue, white, lightblue);
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-inverse .navbar-nav li a {
    color: #000000;
    border-radius: 5px;
    border-color: black;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a:focus,
.navbar-inverse .navbar-nav li a:hover{
    color: blue;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: blue;
    background-image: linear-gradient(grey, white, silver);
}

.panel {
    border-radius: 30px;
}

.panel-heading {
    text-align: center;
}

.panel-heading,
.panel-body,
{
    box-shadow: 1px 1px 2px 1px #000000;
    padding-top: 0px;
}

.thumbnail {
    box-shadow: 1px 1px 2px 1px #000000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.panel-title {
    background-color: lightgreen;
    color: black;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 2px #000000;
    margin-bottom: 10px;
    margin-top: 5px;
}

.page-header {
    border-bottom: 1px solid #43F3E6;
}

#container {
    background: #848C8F;
}

#csharp,
#webdevproj,
#background {
    background-color: lightblue;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #000000;
    color: black;
    border-radius: 10px;
}

#htc {
    width: 300px;
    height: 40px;
}

#jumbotext {
    font-size: 16px;
}

#profilepic {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

